<!-- Header -->
<header class="bg-white border-b sticky top-0 z-50">
  <div class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">

    <!-- Logo -->
    <h1 class="text-2xl font-extrabold text-red-500 tracking-tight">
      <a href="/">Airbnb</a>
    </h1>

    <!-- Navigation -->
    <nav class="space-x-8 text-gray-600 font-medium">

      <a href="/"
         class="transition
         <%= currentPage === 'index'
              ? 'text-red-500 font-semibold'
              : 'hover:text-red-500' %>">
        Home
      </a>

      <a href="/favourites"
         class="transition
         <%= currentPage === 'Favourites'
              ? 'text-red-500 font-semibold'
              : 'hover:text-red-500' %>">
        Favourite
      </a>

      <a href="/homes"
         class="transition
         <%= currentPage === 'Home'
              ? 'text-red-500 font-semibold'
              : 'hover:text-red-500' %>">
        Homes-list
      </a>

      <a href="/host/add-home"
         class="transition
         <%= currentPage === 'AddHome'
              ? 'text-red-500 font-semibold'
              : 'hover:text-red-500' %>">
        Add
      </a>

      <a href="/bookings"
         class="transition
         <%= currentPage === 'bookings'
              ? 'text-red-500 font-semibold'
              : 'hover:text-red-500' %>">
        Bookings
      </a>

       <a href="host/host-home-list"
         class="transition
         <%= currentPage === 'host-homes'
              ? 'text-red-500 font-semibold'
              : 'hover:text-red-500' %>">
        host-Home-list
      </a>

    </nav>
  </div>
</header>
