<%- include('../partials/head') %>

  <body class="bg-gray-50 min-h-screen flex flex-col">

    <!-- Header -->
    <%- include('../partials/nav') %>

      <!-- Main -->
      <main class="flex-grow flex items-center justify-center px-4">
        <div class="bg-white p-8 rounded-2xl shadow-xl max-w-md w-full">

          <!-- Title -->
          <h2 class="text-2xl font-extrabold text-center text-gray-800 mb-6">
            Create Your Account
          </h2>

          <form action="/signup" method="POST" class="space-y-4">
            <%- include('../partials/errors') %>
            <!-- Name -->
            <div class="flex gap-3">
              <input type="text" name="firstName" placeholder="First Name" required
                value="<%= oldInput.firstName  ? oldInput.firstName : ''%>" class="w-1/2 input-style" />
              <input type="text" name="lastName" placeholder="Last Name" class="w-1/2 input-style"
                value="<%= oldInput.lastName  ? oldInput.lastName : ''%>" />
            </div>

            <!-- Email -->
            <input type="email" name="email" placeholder="Email address" required class="w-full input-style"
              value="<%= oldInput.email  ? oldInput.email : ''%>" />

            <!-- Password -->
            <input type="password" name="password" placeholder="Password" required class="w-full input-style" />

            <input type="password" name="confirmPassword" placeholder="Confirm Password" required
              class="w-full input-style" />

            <!-- User Type -->
            <div>
              <p class="text-sm font-semibold text-gray-600 mb-2">Register as</p>
              <div class="flex gap-6">
                <label class="flex items-center gap-2 cursor-pointer">
                  <input type="radio" name="userType" value="guest" checked="<%= oldInput.userType === 'guest' %>">
                  <span>Guest</span>
                </label>
                <label class="flex items-center gap-2 cursor-pointer">
                  <input type="radio" name="userType" value="host" checked="<%= oldInput.userType === 'host' %>">
                  <span>Host</span>
                </label>
              </div>
            </div>

            <!-- Terms -->
            <label class="flex items-start gap-2 text-sm text-gray-600">
              <input type="checkbox" name="term" required class="mt-1">
              I agree to the terms and conditions
            </label>

            <!-- Submit -->
            <button type="submit" class="w-full bg-red-500 text-white font-semibold py-3 rounded-lg
                 hover:bg-red-600 transition shadow-md mt-4">
              Register
            </button>
            <p  class="text-center mt-5">
              Already have an account?
              <a href="/login" class="text-red-500 font-extrabold  hover:underline">
                Log in 
              </a>
            </p>

          </form>
        </div>
      </main>

      <!-- Footer -->
      <footer class="text-center text-sm text-gray-500 py-4">
        © 2026 Airbnb Clone
      </footer>

  </body>

  </html>