<!-- Header -->
<header class="bg-white border-b sticky top-0 z-50">
  <div class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">

    <!-- Logo -->
    <h1 class="text-2xl font-extrabold text-red-500 tracking-tight">
      <a href="/">Airbnb</a>
    </h1>

    <!-- Navigation -->
    <nav class="space-x-8 text-gray-600 font-medium">

      <% if (isLoggedIn) { %>

        <a href="/" class="<%= currentPage === 'index' ? 'text-red-500 font-semibold' : 'hover:text-red-500' %>">
          Home
        </a>

        <a href="/favourites"
          class="<%= currentPage === 'Favourites' ? 'text-red-500 font-semibold' : 'hover:text-red-500' %>">
          Favourite
        </a>

        <a href="/homes" class="<%= currentPage === 'Home' ? 'text-red-500 font-semibold' : 'hover:text-red-500' %>">
          Homes-list
        </a>

        <a href="/host/add-home"
          class="<%= currentPage === 'AddHome' ? 'text-red-500 font-semibold' : 'hover:text-red-500' %>">
          Add
        </a>

        <a href="/bookings"
          class="<%= currentPage === 'bookings' ? 'text-red-500 font-semibold' : 'hover:text-red-500' %>">
          Bookings
        </a>

        <a href="/host/host-home-list"
          class="<%= currentPage === 'host-homes' ? 'text-red-500 font-semibold' : 'hover:text-red-500' %>">
          Host-Home-list
        </a>

        <!-- Logout -->
        <form action="/logout" method="POST" class="inline">
          <button class="hover:text-red-500">Logout</button>
        </form>

        <% } else { %>

          <!-- Login -->

          <a href="/signup" class="px-4 py-2 rounded-xl border border-red-500 text-red-500
   <%= currentPage === 'signup' ? 'font-semibold bg-red-100' : 'hover:bg-red-100' %>">
            SignUp
          </a>

          <a href="/login" class="px-4 py-2 rounded-md bg-red-500 text-white
   <%= currentPage === 'login' ? 'font-semibold' : 'hover:bg-red-600' %>">
            Login
          </a>


          <% } %>

    </nav>
  </div>
</header>